.big-container{
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    font-family: 'Courier New', Courier, monospace;
}

.left-side{
    display: grid;
    grid-row: 1 / 4;
    background-color: rgb(85, 157, 233);
    grid-template-rows: 100px 300px 300px;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.side-icon{
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
    justify-content: center;
}
.side-icon img{
    max-height: 30%;
    width: auto;
    align-self: center;
    justify-self: center;
}


.dash-top{
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    justify-items: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
}
.dash-top img{
    max-height: 50%;
    width: auto;
    justify-self: center;
    align-self: center;
}

.home{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}


.top-row{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
    align-items: center;
}

.second-row{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.my-buttons button{
    background-color: rgb(85, 157, 233);
    border-radius: 10px;
    color: white;
}

.greeting{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.big-icon{
    grid-row: 1 / 3;

}

.my-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.greeting-text{
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.projects{
    background-color: rgb(233, 229, 229);
    display: grid;
    grid-template-rows: 1fr 15fr;
    gap: 10px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
}

.cards div{
    background-color: white;
    border-radius: 10px;
}